.profile__name {
  font-weight: bold;
  color: white;
  flex: 0 1;
}

@media screen and (min-width: 0) {
  .profile__name {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .profile__name {
    font-size: 5rem;
  }
}
