.education {
    background-color: #4f4c4c;
}

.carousel-item {
    height: 400px !important;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
}

.education__imagem {
    max-height: 400px;
    margin: 0 auto;
}