* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.bg-transparent {
  background-color: transparent !important;
}

.text-justify {
  text-align: justify !important;
}

.card {
  border: none !important;
}

footer {
  height: 14vh;
}